@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

body {
    background-color: #84E1AD; 
    font-family: 'idroid';
    text-align: center;
}

header {
    background-image: linear-gradient(to top, #1A5C38, #3AD07D);
    color: #E4ECE7;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 2em;
    padding: 15px;
    margin: -8px;
    box-shadow: 5px 5px 15px #50886898;
}

header > h1 {
    font-size: 2.5em;
    margin: 10px;
}

header > p {
    height: 150px;
    font-size: 1em; 
    width: 31%;
    margin: -30px auto;
    color: #86B39A;
}

nav {
    text-align: left;
    padding: 10px 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0px 20px;
    margin-right: 15px;
    padding: 10px 25px;
    transition: background 0.3s;
}

nav > a:hover {
    background-color: #0f3621;
    cursor: pointer;
}

main {
    background-color: white;
    width: 53%;
    margin: 8px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
}

main > h1 {
    color: #1E5E3B;
    text-align: left;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-display: fallback;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
    text-align: left;
}

main > h2 {
    color: #1E5E3B;
    background-color: #DCF3E6;
    text-align: left;
}

a {
    text-decoration: none;
    color: #1E5E3B;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%; 
}

iframe {
    width: 56%;
    margin: -8px;
}

div {
    background-color: white;
    margin: -14px auto;
    width: 56%;
    border-radius: 20px;
}

div > h3 {
    background-color: #3AD07D;
    color: white;
}

